.mobile-menu-icon {
   width: 35px;
   height: 21px;
   display: none;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-between;
   cursor: pointer;
}

.mobile-menu-icon .item {
   max-width: 100%;
   width: 100%;
   height: 3px;
   position: relative;
   transition: all 0.2s ease-out;
}

.mobile-menu-icon .item span {
   border-radius: 5px;
   width: 100%;
   height: 3px;
   background: #eb4707;
   display: flex;
   transition: all 0.2s ease-out;
}

.mobile-menu-icon .item::after {
   content: '';
   position: absolute;
   top: 0;
   right: -2px;
   width: 3px;
   height: 3px;
   border-radius: 50%;
   background: #eb4707;
   opacity: 0;
   visibility: hidden;
   z-index: 1;
   transition: all 0.2s ease-out;
}

.mobile-menu-icon:hover .item span {
   width: 80%;
}

.mobile-menu-icon:hover .item::after {
   opacity: 1;
   visibility: visible;
   right: 0;
}





@media all and (max-width: 900px) {
   .mobile-menu-icon { display: flex; }
}