.section-blog {
   padding-bottom: 0;
   background: url('../../img/dist/about/about-bg4.webp') center no-repeat;
   background-size: cover;
   position: relative;
}

.section-blog::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   /* background: linear-gradient(0deg, rgba(18, 27, 35, 0.31) 0%, rgba(18, 27, 35, 0.83) 33.33%, rgba(18, 27, 35, 0.92) 55.73%, rgba(18, 27, 35, 0.97) 76.56%, #121B23 100%); */
   background: linear-gradient(180deg, #121B23 0%, rgba(18, 27, 35, 0.89) 23.44%, rgba(18, 27, 35, 0.48) 48.96%, rgba(18, 27, 35, 0.89) 76.56%, #121B23 100%);
}

.blog-container {
   position: relative;
   z-index: 1;
}

.blog-col {
   margin-bottom: 30px;
   display: flex;
}

.post {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   position: relative;
   overflow: hidden;
   box-shadow: 0 1px 21px rgba(0, 0, 0, 0.3);
   border-radius: 10px;
   opacity: 0;
   visibility: hidden;
   overflow: hidden;
   transform: translateY(40px);
   transition: all 0.3s ease-out;
}

.post.animate-show {
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
}

.post:hover {
   transform: translateY(-15px);
   box-shadow: 0 1px 21px rgba(0, 0, 0, 0.8);
}

/* лайки и рабрика */
.post .secondary-info {
   padding: 10px;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1;
   opacity: 0;
   visibility: hidden;
   transform: translateY(-100%);
   transition: all 0.3s ease-out;
}

.post:hover .secondary-info {
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
}

.post .secondary-info .likes {
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 1px 21px rgba(0, 0, 0, 0.5);
   border-radius: 50%;
   cursor: pointer;
   transition: all 0.2s ease-out;
}

.post .secondary-info .likes svg {
   width: 20px;
   height: 23px;
   fill: transparent;
   stroke: #eb4707;
   transition: all 0.2s ease-out;
}

.post .secondary-info .likes:hover {
   background: rgba(86,86,86,0.1);
}

.post .secondary-info .likes:hover svg {
   fill: #eb4707;
}


.post .secondary-info .type {
   padding: 5px 15px;
   font-size: 13px;
   font-weight: 500;
   color: #000;
   border-radius: 28px;
   background: #fff;
   transition: all 0.2s ease-out;
}

.post .secondary-info .type:hover {
   background: #eb4707;
   color: #fff;
}




/* картинка */
.post .img {
   max-height: 290px;
   overflow: hidden;
}

.post .img img {
   max-width: 100%;
   height: auto;
   transform: scale(1);
   transition: all 1s ease-out;
}

.post:hover .img img {
   transform: scale(1.2);
}

/* info */
.post .info {
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   /* background: #121B23; */
   flex: 1 1 auto;
}

.post .title {
   margin-bottom: 20px;
   font-size: 22px;
   font-weight: 600;
   line-height: 120%;
   color: #fff;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   overflow: hidden;
   transition: all 0.2s ease-out;
}

.post .title:hover {
   color: #eb4707;
}

.post .date {
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   font-size: 13px;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.7);
   transition: all 0.2s ease-out;
}

.post .date svg {
   margin-right: 5px;
   width: 13px;
   height: 13px;
   fill: rgba(255, 255, 255, 0.7);
   transition: all 0.2s ease-out;
}

.post .date:hover {
   color: #eb4707;
}

.post .date:hover svg {
   fill: #eb4707;
}

.post .post-excerpt {
   font-size: 16px;
   font-weight: 400;
   line-height: 140%;
   color: rgba(255, 255, 255, 0.7);
   display: -webkit-box;
   -webkit-line-clamp: 4;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

@media all and (max-width: 460px) {
   .post .post-excerpt { font-size: calc((100vw - 280px)/(410 - 280) * (16 - 14) + 14px); }
   .post .title { font-size: calc((100vw - 280px)/(410 - 280) * (22 - 20) + 20px); }
   .post .secondary-info .type { font-size: 12px; }
}

@media (pointer: coarse) {
   .post .secondary-info { opacity: 1; visibility: visible; transform: translateY(0); }

}