<section class="section-events i-section" id="events">
   <div class="container-fluid events-container">
      <h2 class="i-title dancing">Events</h2>
      <h3 class="i-title section animate"><span>Мероприятия</span></h3>

      <div class="row events-row">
         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 events-col">
            <a href="" class="event animate">
               <div class="hover-border"></div>
               <img src="../img/dist/events/event1.webp" alt="">
               <div class="info">
                  <h4 class="i-title md event-title"><span>Презентация клуба Rich Life в эту пятницу в нашем офисе в самом центре этой страны</span></h4>
                  <p class="i-text sm event-text"><span>В эту пятницу состоится Презентация клуба Rich Life. для всех желающих вход свободный, будет много подарков и вкусняшек</span></p>
               </div>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 events-col">
            <a href="" class="event animate">
               <div class="hover-border"></div>
               <img src="../img/dist/events/event2.webp" alt="">
               <div class="info">
                  <h4 class="i-title md event-title"><span>Презентация клуба Rich Life</span></h4>
                  <p class="i-text sm event-text"><span>В эту пятницу состоится Презентация клуба Rich Life.</span></p>
               </div>
            </a>
         </div>
         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 events-col">
            <a href="" class="event animate">
               <div class="hover-border"></div>
               <img src="../img/dist/events/event3.webp" alt="">
               <div class="info">
                  <h4 class="i-title md event-title"><span>Презентация клуба Rich Life</span></h4>
                  <p class="i-text sm event-text"><span>В эту пятницу состоится Презентация клуба Rich Life.</span></p>
               </div>
            </a>
         </div>
         <!-- <div class="col-6 events-col">
            <div class="event">
               <div class="hover-border"></div>
               <img src="../img/dist/events/event4.webp" alt="">
               <div class="info">
                  <h4 class="i-title sm event-title"></h4>
                  <p class="i-text sm"></p>
               </div>
            </div>
         </div> -->
      </div>
   </div>
</section>