<!-- Немного цифр -->
<div class="row numbers-row animate">
   <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 numbers-col">
      <div class="features-numbers">
         <img src="../img/dist/features/features1.svg" alt="">
         <div class="features-number" data-number="9666">9666</div>
         <div class="i-text sm number-text">счастливых людей</div>
      </div>
   </div>
   <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 numbers-col">
      <div class="features-numbers">
         <img src="../img/dist/features/features3.svg" alt="">
         <div class="features-number" data-number="4005">4005</div>
         <div class="i-text sm number-text">заключено программ</div>
      </div>
   </div>
   <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 numbers-col">
      <div class="features-numbers">
         <img src="../img/dist/features/features5.svg" alt="">
         <div class="features-number" data-number="5622">5622</div>
         <div class="i-text sm number-text">инвестиционных программы</div>
      </div>
   </div>
   <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 numbers-col">
      <div class="features-numbers">
         <img src="../img/dist/features/features4.svg" alt="">
         <div class="features-number" data-number="4566">4566</div>
         <div class="i-text sm number-text">и здесь еще что-нибудь</div>
      </div>
   </div>
</div>