<footer>
   <div class="container-fluid footer-container">
      <div class="row footer-row">
         <div class="footer-item footer-logo">
            <a href="/" class="logo footer"><img src="../img/dist/logo.webp" alt="Rich Life Logo"></a>
            <div class="copyright">Rich Life &copy; 2020-2021</div>
         </div>
      
         <nav class="footer-item footer-menu">
            <ul>
               <li><a href="#about" class="link-hover lazy-link">О нас</a></li>
               <li><a href="#partners" class="link-hover lazy-link">Партнерки</a></li>
               <li><a href="#events" class="link-hover lazy-link">Мероприятия</a></li>
               <li><a href="#boss" class="link-hover lazy-link">Учредители</a></li>
            </ul>
         </nav>
      
         <div class="footer-item footer-events">
            <article class="footer-event">
               <div class="img"><img src="../img/dist/events/event2.webp" alt="Мероприятие 1"></div>
               <div class="info">
                  <h3>Мероприятие номер 1</h3>
                  <p>Здесь описание мероприятия номер 1</p>
               </div>
            </article>

            <article class="footer-event">
               <div class="img"><img src="../img/dist/events/event2.webp" alt="Мероприятие 1"></div>
               <div class="info">
                  <h3>Мероприятие номер 1</h3>
                  <p>Здесь описание мероприятия номер 1</p>
               </div>
            </article>
         </div>
      
         <div class="footer-item">
            <div class="button-group footer">
               <button class="i-button footer signIn">Войти</button>
               <button class="i-button footer transparent signUp">Стать членом клуба</button>
            </div>

            <div class="footer-social widget-social">
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-twitter"></use></svg></a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-telegram"></use></svg></a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-facebook"></use></svg></a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-instagram"></use></svg></a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-viber"></use></svg></a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-whatsapp"></use></svg></a>
            </div>
         </div>
   
      </div>
   </div>
</footer>