<header>
   <div class="container-fluid header-container">
      <div class="header-row">
         <a href="/" class="logo"><img src="../img/dist/logo.svg" alt="Logo Rich Life"></a>

         <nav class="header-menu">
            <ul>
               <li><a href="#about" class="link-hover lazy-link">О нас</a></li>
               <li><a href="#partners" class="link-hover lazy-link">Партнерки</a></li>
               <li><a href="#events" class="link-hover lazy-link">Мероприятия</a></li>
               <li><a href="#boss" class="link-hover lazy-link">Учредители</a></li>
            </ul>
         </nav>

         <div class="buttons-group header-button-group">
            <button class="i-button header-button signIn">Вход</button>
            <button class="i-button header-button transparent signUp">Регистрация</button>
         </div>

         @@include('_mobile-menu-icon.html')
      </div>
   </div>
</header>