<div class="main-slider-wrap">
   <div class="main-slider">
      <div class="slide first-slide">
         <div class="slide-content-wrap">
            <div class="slide-content">
               <h2 class="i-title main-title">
                  <div class="top"><span>Rich Life</span></div>
                  <div class="bottom"><span>club</span></div>
               </h2>
               <div class="buttons-group firstSlide-btn-group mt70">
                  <a href="" class="i-button large mr15 header-button">Узнать больше</a>
                  <button class="i-button large transparent header-button signUp">Стать членом клуба</button>
               </div>
            </div>
         </div>
      </div>

      <!-- <div class="slide second-slide">
         <div class="slide-content-wrap">
            <div class="slide-content">
               <h2 class="i-title xxl-animate"><span>Семинар "Финансовая грамотность" в Дуббосарах Семинар "Финансовая грамотность" в Дуббосарах Семинар "Финансовая грамотность" в Дуббосарах Семинар "Финансовая грамотность" в Дуббосарах</span></h2>
               <h3 class="i-title md-animate"><span>С 31.07 по 01.08 в Дуббосарах пройдет семинар по финансовой грамотности для всех желающих С 31.07 по 01.08 в Дуббосарах пройдет семинар по финансовой грамотности для всех желающих С 31.07 по 01.08 в Дуббосарах пройдет семинар по финансовой грамотности для всех желающих С 31.07 по 01.08 в Дуббосарах пройдет семинар по финансовой грамотности для всех желающих С 31.07 по 01.08 в Дуббосарах пройдет семинар по финансовой грамотности для всех желающих</span></h3>
               <div class="buttons-group animate-btn-group mt70"><button class="i-button large">Подробнее</button></div>
            </div>
         </div>
      </div>

      <div class="slide third-slide">
         <div class="slide-content-wrap">
            <div class="slide-content">
               <h2 class="i-title xxl-animate"><span>Знакомство с клубом Rich Life в эту пятницу</span></h2>
               <h3 class="i-title md-animate"><span>06.08 состоится презентация клуба Rich Life, вход свободный! Будет много подарков, вкусняшек и прочих ништячков</span></h3>
               <div class="buttons-group animate-btn-group mt70"><button class="i-button large">Подробнее</button></div>
            </div>
         </div>
      </div> -->
   </div>
</div>