<div class="mobile-menu">
   <div class="content">
      <nav class="menu-item">
         <ul class="mobile-menu-list">
            <li><a href="#about" class="link-hover lazy-link">О нас</a></li>
            <li><a href="#partners" class="link-hover lazy-link">Партнерки</a></li>
            <li><a href="#events" class="link-hover lazy-link">Мероприятия</a></li>
            <li><a href="#boss" class="link-hover lazy-link">Учредители</a></li>
         </ul>
      </nav>

      <div class="button-group mobile">
         <button class="i-button mobile  signIn">Войти</button>
         <button class="i-button mobile transparent signUp">Стать членом клуба</button>
      </div>

      <div class="menu-item widget-social">
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-twitter"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-telegram"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-facebook"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-instagram"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-viber"></use></svg></a>
         <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-whatsapp"></use></svg></a>
      </div>
   </div>
   
   <div class="i-close menu-close">
      <svg><use xlink:href="img/dist/svg-sprite.svg#icon-close"></use></svg>
   </div>
</div>

<div class="overlay menu-overlay"></div>