<section class="section-about i-section" id="about">
   <div class="container-fluid about-container">
      <h2 class="i-title dancing">About Us</h2>
      <h3 class="i-title section animate"><span>немного о нас</span></h3>

      <!-- Немного текста -->
      <div class="row about-row">
         <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 about-col">
            <div class="about-item img animate">
               <img src="../img/dist/about/about2.webp" alt="About Rich Life">
            </div>
         </div>

         <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 about-col">
            <div class="about-item animate">
               <p class="i-text md about-text"><strong>Rich Life - </strong>ключевые особенности структуры проекта, инициированные исключительно синтетически, функционально разнесены на независимые элементы.</p>
               <p class="i-text md about-text">Ключевые особенности структуры проекта, инициированные исключительно синтетически, функционально разнесены на независимые элементы. Современные технологии достигли такого уровня, что разбавленное изрядной долей эмпатии, рациональное мышление.</p>
               <p class="i-text md about-text">Ключевые особенности структуры проекта, инициированные исключительно синтетически, функционально разнесены на независимые элементы. Современные технологии достигли такого уровня, что разбавленное изрядной долей эмпатии, рациональное мышление.</p>
               
            </div>
         </div>
      </div>

      <!-- Немного чисел -->
      @@include('_features-numbers.html')
   </div>
</section>