<section class="section-blog i-section">
   <div class="container-fluid blog-container">
      <h2 class="i-title dancing">News</h2>
      <h3 class="i-title section animate"><span>Последние новости</span></h3>

      <div class="row blog-row">
         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-col">
            <article class="post animate">
               <div class="secondary-info">
                  <div class="likes"><svg><use xlink:href="img/dist/svg-sprite.svg#icon-heart"></use></svg></div>
                  <a href="#" class="type">Мероприятия</a>
               </div>
               <a href="../page-single-post.html" class="img">
                  <img src="../img/dist/about/about-bg2.webp" alt="Название первой статьи">
               </a>
               <div class="info">
                  <a href="../page-single-post.html"><h3 class="title">Название первой статьи Название первой статьи</h3></a>
                  <a href="#" class="date">
                     <svg><use xlink:href="img/dist/svg-sprite.svg#icon-calendar"></use></svg>
                     <span>Сентябрь 22, 2015</span>
                  </a>
                  <p class="post-excerpt">Здесь будет отображаться карткая информация о статье максимум 4 строки, после чего будет проставлено многоточие</p>
               </div>
            </article>
         </div>

         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-col">
            <article class="post animate">
               <div class="secondary-info">
                  <div class="likes"><svg><use xlink:href="img/dist/svg-sprite.svg#icon-heart"></use></svg></div>
                  <a href="#" class="type">Мероприятия</a>
               </div>
               <a href="#" class="img">
                  <img src="../img/dist/about/about-bg3.webp" alt="Название первой статьи">
               </a>
               <div class="info">
                  <a href="#"><h3 class="title">Название первой статьи</h3></a>
                  <a href="#" class="date">
                     <svg><use xlink:href="img/dist/svg-sprite.svg#icon-calendar"></use></svg>
                     <span>Сентябрь 22, 2015</span>
                  </a>
                  <p class="post-excerpt">Здесь будет отображаться карткая информация о статье максимум 4 строки, после чего будет проставлено многоточие</p>
               </div>
            </article>
         </div>
         
         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 blog-col">
            <article class="post animate">
               <div class="secondary-info">
                  <div class="likes"><svg><use xlink:href="img/dist/svg-sprite.svg#icon-heart"></use></svg></div>
                  <a href="#" class="type">Мероприятия</a>
               </div>
               <a href="#" class="img">
                  <img src="../img/dist/about/about-bg4.webp" alt="Название первой статьи">
               </a>
               <div class="info">
                  <a href="#"><h3 class="title">Название первой статьи</h3></a>
                  <a href="#" class="date">
                     <svg><use xlink:href="img/dist/svg-sprite.svg#icon-calendar"></use></svg>
                     <span>Сентябрь 22, 2015</span>
                  </a>
                  <p class="post-excerpt">Здесь будет отображаться карткая информация о статье максимум 4 строки, после чего будет проставлено многоточие</p>
               </div>
            </article>
         </div>
      </div>
   </div>
</section>