<section class="section-partners i-section" id="partners">
   <div class="container-fluid partners-container">
      <h2 class="i-title dancing">Partnership</h2>
      <h3 class="i-title section animate"><span>Партнерство</span></h3>

      <div class="row partners-row">
         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 partners-col">
            <div class="partner animate">
               <h2 class="partner-title">01</h2>
               <img src="../img/dist/partners/insurance2.svg" alt="">
               <div class="hover-block">
                  <h3 class="i-title partner-hover">Страхование</h3>
                  <p class="i-text partner-hover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, officia.</p>
                  <a href="" class="partner-hover">Move</a>
               </div>
            </div>
         </div>

         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 partners-col">
            <div class="partner animate">
               <h2 class="partner-title">02</h2>
               <img src="../img/dist/partners/insurance3.svg" alt="">
               <div class="hover-block">
                  <h3 class="i-title partner-hover">incruises.com</h3>
                  <p class="i-text partner-hover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, officia.</p>
                  <a href="" class="partner-hover">Move</a>
               </div>
            </div>
         </div>

         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 partners-col">
            <div class="partner animate">
               <h2 class="partner-title">03</h2>
               <img src="../img/dist/partners/eco.svg" alt="">
               <div class="hover-block">
                  <h3 class="i-title partner-hover">ЭКО-товары</h3>
                  <p class="i-text partner-hover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, officia.</p>
                  <a href="" class="partner-hover">Move</a>
               </div>
            </div>
         </div>

         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 partners-col">
            <div class="partner animate">
               <h2 class="partner-title">04</h2>
               <img src="../img/dist/partners/insurance1.svg" alt="">
               <div class="hover-block">
                  <h3 class="i-title partner-hover">Crypto</h3>
                  <p class="i-text partner-hover">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, officia.</p>
                  <a href="" class="partner-hover">Move</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>