<section class="section-boss i-section" id="boss">
   <div class="container-fluid container-boss">
      <h2 class="i-title dancing">Team</h2>
      <h3 class="i-title section animate"><span>Учредители</span></h3>

      <div class="row boss-row">
         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 boss-col">
            <div class="boss animate">
               <div class="img-wrap">
                  <div class="img">
                     <img src="../img/dist/boss/boss1.webp" alt="Наталья Колесниченко">
                  </div>
               </div>
               <h3 class="name">Наталья Колесниченко</h3>
               <h4 class="profession">Лектор, мотиватор, гений и просто красавица</h4>
               <div class="boss-social widget-social">
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-twitter"></use></svg></a>
                  <a href="tg://resolve?domain=+37377738336"><svg><use xlink:href="img/dist/svg-sprite.svg#icon-telegram"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-facebook"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-instagram"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-viber"></use></svg></a>
                  <a href="https://wa.me/+37377738336"><svg><use xlink:href="img/dist/svg-sprite.svg#icon-whatsapp"></use></svg></a>
               </div>
            </div>
         </div>

         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 boss-col">
            <div class="boss animate">
               <div class="img-wrap">
                  <div class="img">
                     <img src="../img/dist/boss/boss2.webp" alt="Олег Вискун">
                  </div>
               </div>
               <h3 class="name">Олег Вискун</h3>
               <h4 class="profession">HR, лектор, бизнес-тренер, учредитель</h4>
               <div class="boss-social widget-social">
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-twitter"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-telegram"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-facebook"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-instagram"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-viber"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-whatsapp"></use></svg></a>
               </div>
            </div>
         </div>

         <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 boss-col">
            <div class="boss animate">
               <div class="img-wrap">
                  <div class="img">
                  <img src="../img/dist/boss/boss3.webp" alt="Надежда Doe">
               </div>
               </div>
               <h3 class="name">Надежда Doe</h3>
               <h4 class="profession">Душа коллектива, лектор, учредитель</h4>
               <div class="boss-social widget-social">
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-twitter"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-telegram"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-facebook"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-instagram"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-viber"></use></svg></a>
                  <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-whatsapp"></use></svg></a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>