<aside class="sidebar">
   <div class="sidebar-content">
      <div class="recent-post small-posts sidebar-widgets">
         <h3 class="i-title md sidebar-title">Последние новости</h3>

         <div class="sidebar-widgets-wrap">
            <a href="">
               <article class="small-post sidebar-post">
                  <div class="img"><img src="../img/dist/small-post/small-post1.webp" alt=""></div>
                  <div class="info">
                     <h4 class="title">Новость номер 1</h4>
                     <p class="text">Краткое описание новости номер 1</p>
                  </div>
               </article>
            </a>
   
            <a href="">
               <article class="small-post sidebar-post">
                  <div class="img"><img src="../img/dist/small-post/small-post1.webp" alt=""></div>
                  <div class="info">
                     <h4 class="title">Новость номер 1</h4>
                     <p class="text">Краткое описание новости номер 1</p>
                  </div>
               </article>
            </a>
   
            <a href="">
               <article class="small-post sidebar-post">
                  <div class="img"><img src="../img/dist/small-post/small-post1.webp" alt=""></div>
                  <div class="info">
                     <h4 class="title">Новость номер 1</h4>
                     <p class="text">Краткое описание новости номер 1</p>
                  </div>
               </article>
            </a>
         </div>
      </div>


      <div class="rubrics sidebar-widgets">
         <h3 class="i-title md sidebar-title">Рубрики</h3>

         <div class="sidebar-widgets-wrap">
            <ul>
               <li><a href="#">Мероприятия <span>354</span></a></li>
               <li><a href="#">Дизайн <span>311</span></a></li>
               <li><a href="#">Типографика <span>3</span></a></li>
               <li><a href="#">Photo <span>74</span></a></li>
            </ul>
         </div>
      </div>


      <div class="sidebar-social sidebar-widgets">
         <h3 class="i-title md sidebar-title">Мы в соцсетях</h3>

         <div class="sidebar-widgets-wrap">
            <div class="social sidebar-social">
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-twitter"></use></svg> twitter</a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-telegram"></use></svg> telegram</a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-facebook"></use></svg> facebook</a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-instagram"></use></svg> instagram</a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-viber"></use></svg> viber</a>
               <a href=""><svg><use xlink:href="img/dist/svg-sprite.svg#icon-whatsapp"></use></svg> whatsapp</a>
            </div>
         </div>
      </div>
   </div>
</aside>