<div class="form-wrap signIn">
   <h3 class="i-title dancing">Rich Life</h3>
   <h4 class="i-title form-title">Рады приветствовать Вас!</h4>
   <!-- <h4 class="i-title form-title">Данная функция пока недоступна</h4> -->

   <div class="i-close">
      <svg><use xlink:href="img/dist/svg-sprite.svg#icon-close"></use></svg>
   </div>

   <form action="" method="" class="i-form signIn">
      <div class="form-item">
         <input type="email" name="user_email" placeholder="E-mail">
         <span></span>
      </div>

      <div class="form-item">
         <input type="placeholder" name="user_password" placeholder="Пароль">
         <span></span>
      </div>

      <div class="form-item">
         <input type="submit" class="i-button submit large form-btn signIn" value="Войти">
      </div>
   </form>
</div>