<div class="form-wrap signUp">
   <h3 class="i-title dancing">Rich Life</h3>
   <h4 class="i-title form-title">Стань частью нашей команды! Мы ждем тебя!</h4>

   <div class="i-close">
      <svg><use xlink:href="img/dist/svg-sprite.svg#icon-close"></use></svg>
   </div>

   <form action="" class="i-form signUp">
      <div class="form-flex-item">
         <div class="form-item">
            <input type="text" name="user_name" placeholder="Имя">
            <span></span>
         </div>
      
         <div class="form-item">
            <input type="text" name="user_surname" placeholder="Фамилия">
            <span></span>
         </div>
      </div>

      <div class="form-flex-item">
         <div class="form-item">
            <input type="text" name="user_card-code" placeholder="Номер карты" minlength="6" maxlength="6">
            <span></span>
         </div>
   
         <div class="form-item">
            <input type="email" name="user_email" placeholder="E-mail">
            <span></span>
         </div>
      </div>

      <div class="form-flex-item">
         <div class="form-item">
            <input type="placeholder" name="user_password" placeholder="Пароль">
            <span></span>
         </div>
   
         <div class="form-item">
            <input type="text" name="user_repeat-password" placeholder="Повторите пароль">
            <span></span>
         </div>
      </div>

      <div class="form-item">
         <input type="text" name="user_phone" placeholder="Номер телефона">
         <span></span>
      </div>

      <div class="form-flex-item checkbox-item">
         <input type="submit" class="i-button submit large form-btn" value="Стать участником">

         <!-- <div class="checkbox">
            <input type="checkbox" id="policy">
            <label for="policy">Я согласен с условиями и политикой конфиденциальности</label>
         </div> -->

         <div class="checkbox">
            <div class="check" id="checkbox"></div>
            <label for="#checkbox">Я согласен с условиями и политикой конфиденциальности</label>
         </div>
      </div>
   </form>
</div>